body{
    width: 516px;
    max-width: 100%;
    font-size: 16px;
    font-family: "Times", serif;
    align-items: start;
    border-color: grey;
    padding: 4em;
    box-sizing: border-box;
}
.picture{
  height: 80px;
  float: center;
  width: 450px;
  margin: auto
}
.container{
  width: 458px;
  height: 280px;
  border: 1px solid black;
  margin: auto;
  padding: 0.5em;
}

em{
  font-style: italic;
 }
span{
   font-weight: bold;
}
li{
  list-style: none;
}

